.column {
    width: 31%;
    max-height: 750px;
    height: relative;
    overflow: scroll;
    float: left;
}

.sec {
    margin: 25px 25px 25px 25px;    
}

#antelope {
    float: left;
    margin-right: 25px;
}

#header {
    float:center;
    padding: 10px 10px 10px 25px;
}

#bio {
    float:left;
    padding: 25px 25px 25px 25px;
}

#projects {
    margin: 0px 25px 25px 25px;
    float:left;
}

#donations {
    float:left;
}

#projectColumn {
    padding-right: 2.5%;
}

#linksColumn {
    padding-left: 2.5%;
}

#donationCol1 {
    width: 50%;
}

#donationCol2 {
    width: 50%;
}